@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(15.23% 0.034 285.82);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(15.23% 0.034 285.82);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(15.23% 0.034 285.82);
  --color-primary: oklch(58.42% 0.207 264.05);
  --color-primary-foreground: oklch(97.78% 0.007 264.54);
  --color-secondary: oklch(96.48% 0.004 264.54);
  --color-secondary-foreground: oklch(23.04% 0.028 285.82);
  --color-muted: oklch(96.48% 0.004 264.54);
  --color-muted-foreground: oklch(56.02% 0.016 257.62);
  --color-accent: oklch(96.48% 0.004 264.54);
  --color-accent-foreground: oklch(23.04% 0.028 285.82);
  --color-destructive: oklch(62.8% 0.257 29.23);
  --color-destructive-foreground: oklch(97.78% 0.007 264.54);
  --color-border: oklch(89.84% 0.011 264.54);
  --color-input: oklch(89.84% 0.011 264.54);
  --color-ring: oklch(58.42% 0.207 264.05);

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}